<div *ngIf="firebaseService.lat && firebaseService.lng">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="firebaseService.lat" [longitude]="firebaseService.lng">
      <agm-info-window>
        <h3>Howdy</h3>
      </agm-info-window>
    </agm-marker>
    <agm-marker [latitude]="lat" [longitude]="ng blng">
      <agm-info-window>
        <h3>Howdy</h3>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <button 
  (click)="onLocation()"
  >{{isChecking ? '1Stop' : '2Start'}}
  </button>
</div>